<h1>Listing images</h1>
<p><%= link_to 'Upload new image', new_image_path %></p>
<hr />
<table>
  <tr>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image_tag image.url(:square), :width => '200', :height => 'auto' %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

